@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap');

:root {
    --primaryColor: #111111;
    --secondaryColor: #E5B349;
    --whiteBg:#ffffff;
    --accentColor:#1B2138;
    --primaryFontFamily: "Open Sans";
    --paraFontWeight: 400;
    --paraFontSize: 16px;
  }


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}