.card {
    position: relative;
    cursor: pointer;
    transition: 0.3s;
    padding: 10px;
}

.card-product {
    position: relative;
}

.card-product img {
    transition: transform 0.3s ease;
}

.add-to-cart-btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;

    transition: opacity 0.3s ease;
}

.card-product:hover .add-to-cart-btn {
    opacity: 1;
    /* Show on hover */
}

.card-product:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.card-product:hover img {
    transform: none;
}

.favorite-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    display: none;

}

.card-product:hover .favorite-btn {
    display: block;

}

.add-to-cart-btn {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.card:hover {
    color: #444;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.rating {
	direction: rtl;
	unicode-bidi: bidi-override;
	color: #ddd; /* Personal choice */
    font-size: 8px;
    margin-left: -15px;
}
.rating input {
	display: none;
}
.rating label:hover,
.rating label:hover ~ label,
.rating input:checked + label,
.rating input:checked + label ~ label {
	color: #ffc107; /* Personal color choice. Lifted from Bootstrap 4 */
    font-size: 8px;
}


.front-stars, .back-stars, .star-rating {
    display: flex;
  }

  .star-rating {
    align-items: left;
    font-size: 1.5em;
    justify-content: left;
    margin-left: -5px;
  }

  .back-stars {
    color: #CCC;
    position: relative;
  }

  .front-stars {
    color: #FFBC0B;
    overflow: hidden;
    position: absolute;
    top: 0;
    transition: all 0.5s;
  }


  .percent {
    color: #bb5252;
    font-size: 1.5em;
  }
